@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAppServer.Models
@using BlazorAppServer.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAppServer.Data.ApplicationDbContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Products Index</h1>

<p>
    <a class="btn btn-primary" href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Products">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Description" />
    <PropertyColumn Property="product => product.Price" />
    <PropertyColumn Property="product => product.DepartmentId" />
    <PropertyColumn Property="product => product.CreatedAt" />

    <TemplateColumn Context="product">
        <a class="btn btn-sm btn-primary" href="@($" products /edit?id ={product.Id}")">Edit</a> |
        <a class="btn btn-outline-info" href="@($"products/details?id={product.Id}")">Details</a> |
        <a class="btn btn-sm btn-danger" href="@($"products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
